html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #212321;
  position: relative;

  .spcl {
    color: tomato;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 1);
    display: flex;
    &.hide {
      display: none;
    }
    .holder {
      margin: auto;
      color: #fff;
    }
    .water {
      width: 50px;
      height: 50px;
      background-color: #3cd;
      border-radius: 50%;
      position: relative;
      box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.5),
        0 4px 10px 0 rgba(0, 0, 0, 0.5);
      overflow: hidden;
      margin: auto;
    }
    .water:before,
    .water:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      top: -13.9px;
      background-color: #fff;
    }
    .water:before {
      border-radius: 45%;
      background: rgba(255, 255, 255, 0.7);
      animation: wave 5s linear infinite;
    }
    .water:after {
      border-radius: 35%;
      background: rgba(255, 255, 255, 0.3);
      animation: wave 5s linear infinite;
    }
  }

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 50px;

    .banner {
      font-weight: 800;
      color: #eee;
      text-align: center;

      .reveal-names {
        font-size: 30px;
      }

      .helper {
        font-size: 18px;
        letter-spacing: 3px;
        opacity: 0;
      }
    }

    .gallery {
      margin-top: 30px;
      zen-for {
        img {
          width: 100%;
          // display: block;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 0px;
  }
  zen-for {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-auto-rows: 10px;
  }
}

.start {
  .scale-out {
    display: inline-block;
    animation: scaleout 500ms linear forwards;
  }
  .move-right {
    display: inline-block;
    animation: moveright 500ms linear forwards;
  }
  .move-left {
    display: inline-block;
    animation: moveleft 500ms linear forwards;
  }
  .fade-out {
    display: inline-block;
    animation: fadeout 500ms linear forwards;
  }
  .fade-in {
    display: inline-block;
    animation: fadein 1s linear forwards;
    animation-delay: 2s;
  }
  .zoom-up {
    animation: zoomup 500ms linear forwards;
    animation-delay: 600ms;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scaleout {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes moveright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(45px);
  }
}

@keyframes moveleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40px);
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomup {
  to {
    transform: scale(1.6);
  }
}
